@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif ;
    font-size: 1rem;
} 
body{
    padding-inline: 20px;
}

header{
    display: none;
} /* usar para escritorio*/


a{
    text-decoration: none; 
    color: black;
}
section{
    display: flex;
    flex-direction: column;
    padding-block: 40px;
    gap: 40px;

}
/* SECCION HOLA */
.section__presentacion{ 
    text-align: center;
    margin-top: 40px;
}

/*hola soy*/
.presentacion__nombre{
    font-size: 1.25rem;
    font-weight: bolder;
}
/*Gisella*/
h1{
    font-size: 3.125rem;
}
.hola__nombre--color{
    color: rgb(190, 156, 221);
    margin-bottom: 10px;
}

.presentacion__parrafo{
    margin-bottom: 45px;

}

/*link a proyectos*/
.link__proyectos--color{
    background-color:rgb(190, 156, 221) ;
    color:white;
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: 20px;
}

.link__proyectos--color:hover{
    background-color:rgb(219, 196, 241);
}

img{
    width: 100%;
    margin-top: 10px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

/*SECCION CONOCIMIENTOS*/
.section__conocimientos--color{
    background-color: rgb(245, 241, 237);
    width: calc(100% + 40px);
    margin-left: -20px;
}

.conocimientos__texto{
    padding-inline: 20px;
    text-align: center;
}

h2{
    font-size: 1.875rem;
    margin-bottom: 15px;
    text-align: center;
    

}  
p{
    text-align: center;
    margin-top: 20px;
}

/*padre de conocimientos__cajas*/
.conocimientos__cajas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

/*hijos de conocimientos__cajas*/
.conocimientos__cajas div{
    background-color:white;
    width: 40%;
    display: flex;
    border: 1px solid rgb(228, 226, 226);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    max-width: 150px;
}

.conocimientos__cajas div:hover{
    border: 1px solid rgb(190, 156, 221);
}

/*estilos de los íconos*/
.fa-brands , .fa-solid{
    font-size: 3.75rem;
}

.fa-html5{
    color: rgb(227, 76, 38);
}

.fa-css3-alt{
    color: rgb(38, 77, 228 );
}
.fa-sass{
    color: rgb(204, 102, 153)
}
.fa-js{
    color: rgb(240, 219, 79);
}
.fa-react{
    color: rgb(124, 197, 217);
}
.fa-git-alt{
    color: rgb(243, 79, 41);
}

/*parrafo: titulo debajo del icono*/
.conocimientos__parrafo {
    margin-top: 5px;
    font-weight: bolder;
}

/* SECCION CITAS*/
.section__cita{
    background-color:rgb(177, 94, 255);
    width: calc(100% + 40px);
    margin-left: -20px;
    text-align: center;
    padding-inline: 20px;
    color:white;
}

/*comilla icono*/
.fa-quote-left{
    font-size: 3.75rem;
}

/*Nelson Mandela*/
.cita__autor--grande{
    font-size: 1.25rem;
}

/*SECCION MIS PROYECTOS*/

/*Cajas proyectos*/
.proyectos__cajas{
    display: flex;
    flex-direction: column;
    gap: 20px
}

/* Todos los enlaces de proyecto__caja*/
.cajas__imagenes{
    border: 1px solid rgb(235, 157, 187);
    border-radius: 5px;
}

.cajas__imagenes:hover{
    border: 2px solid rgb(190, 156, 221);
    color: rgb(177, 94, 255); 
}

.cajas__imagenes a:hover{
color: rgb(177, 94, 255); 
}


/* Todos los parrafos de proyecto__caja*/
.proyectos__cajas p{
    padding-bottom: 30px;
    font-weight: bolder;
}

/*SECCION CONTACTO*/

.section__contacto{
    display: flex;
    flex-direction: column;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/*iconos de Contacto*/
.contacto i{
    color: rgb(177, 94, 255);
    font-size: 1.25rem;
    margin-top: 30px;
    margin-right: 5px;
}

ul{
    list-style-type: none;
}

.contacto__link--color{
    width: 100%;
}

.contacto__link--color :hover{
    color:  rgb(235, 157, 187);
    border: 1px solid rgb(228, 226, 226);
}

/* FORMULARIO*/

form {
    width: 100%;
}

/* Nombre y Apellido en Mobile es column y en Desktop es row -hijo 1*/
.input__container--row{
    display: flex;
    flex-direction: column;
}

/*Se mantiene en column - hijo 2*/
.input__container--column{
    display: flex;
    flex-direction: column;
}

/*¿hablamos?*/
.formulario__titulo {
    padding-bottom: 10px;
}

/*Recuadro de mi formulario*/
fieldset {
    margin-bottom: 20px;
    padding: 15px;
}

/*Texto "Datos de Contacto"*/
legend {
    padding-inline: 3px;
}

label{
    padding-bottom: 5px;

}

/*Mi Div padre Formulario*/
.datos__contactame {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

input , textarea{
    border: 1px ;
    border-radius:5px;
    background-color: rgb(245, 241, 237) ;
    padding: 2px;
}

/*Enviar*/
input[type="submit"] {
    display: block;
    padding: 2px 10px;
    margin: 0 auto;
    background-color:  rgb(190, 156, 221);
    color: white;
    border: 2px solid rgb(228, 226, 226);
    border-radius: 10px;
    font-weight: bolder;
}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: column ;
    align-items: center;
    background-color:rgb(190, 156, 221);
    width: calc(100% + 40px);
    margin-left: -20px;
    padding-block: 60px;
}

/*Lista que aparece en Desktop*/
.footer__menu--simple{
    display: none;
}

/*lista oculta de menu--simple*/
.footer__navegacion{
    display: flex;
}  

.footer__lista--simple{
    font-size: 0.75rem;
    margin-left: 10px;
}

/* iconos link*/
.footer__lista{
    display: flex;
}

.footer__lista i{
    font-size: 2.5rem;
    color:white;
    margin-left: 15px;
    
}

.footer__lista i:hover{
    color:rgb(177, 94, 255);
}
